@import "_nullstyle";
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,700,600,900);

body {
	height: 100%;
	background: #2e2f2e;
	font-size: 14px;
	color: #bac8d3;
	font-weight: 400;
	font-family: Montserrat;
}

.wrapper {
	overflow: hidden;
	min-height: 100%;

	&__weather {
		width: 400px;
		margin: 0 auto;
		padding: 100px 0 0 0;
	}
}

.weather {

	&__city {
		color: #e0a80d;
		font-size: 30px;
		font-weight: 600;
		margin: 0 0 10px 0;
	}

	&__status {
		font-size: 20px;
	}

	&__header {
		margin: 0 0 20px 0;
	}

	&__row {
		margin: 0 0 15px 0;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
	}

	&__img {
		color: white;
		font-size: 70px;
		// flex: 1 1 auto;
		text-align: center;
	}

	&__temperatures {
		display: flex;
		flex-direction: column;
	}

	&__temperature-max {
		margin: 0 10px 0 0;
	}

	&__temperature {
		color: white;
		font-size: 50px;
		font-weight: 600;
		text-align: center;
		margin: 0 0 10px 0;
		// flex: 1 1 auto // line-height: 130%;
	}

	&__temperature-range {
		display: flex;
		justify-content: space-around;
		font-size: 17px;
	}

	&__properties {
		display: flex;
		flex-direction: column;
	}


	&__propetry {
		margin: 0 0 10px 0;
	}

	&__propetry:last-child {
		margin: 0 0 0px 0;
	}

	&__propetry span {
		color: white;
	}


}